html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #333;
}

body * {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

#root {
    height: 100%;
}

.app {
    position: relative;
    height: 100%;
}
